#pin-container {
  padding: 20px;
  margin: 0 auto;
  width: 320px;
  text-align: center;
  display: block;
}

#qrcode-container {
  text-align: center;
  padding: 30px 0;
  display: none;
}


#pin-container span {
	display: none;
}

#pin-container .has-error span {
	display: block;
}